@import "~reset-css/sass/_reset";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese');

* {
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif !important;
}

.container {
    max-width: 950px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.winner {
    padding-top: 50px;
    margin: 0 auto 50px auto;
    width: 100%;
    max-width: 500px;
    &__form {
        display: flex;
        width: 100%;
        border-radius: 50px;
        border: 1px solid #333;
        margin: 0 auto;
        background-color: rgba(102, 102, 102, 0.4);
        input {
            flex: 1;
            height: 30px;
            border-radius: 50px;
            line-height: 30px;
            padding-left: 20px;
            background-color: transparent;
            color: #fff;
            &::placeholder {
                color: #fff;
            }
        }
    }

}

.btn {
    width: 100px;
    height: 30px;
    border-radius: 50px;
    background: #ffb76b;
    color: #fff;
    cursor: pointer;
    background-image: linear-gradient(286deg, #f9cd29, #f45325);
    font-size: 14px;
}

.registration {
    max-width: 500px;
    margin: 0 auto 50px auto;
    width: 100%;
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    &__wrap {
        display: flex;
        flex-direction: column;
        border-radius: 6px;
        border: 1px solid #333;
        margin: 0 auto;
        padding: 20px;
        margin-bottom: 20px;
        width: 100%;
        label {
            display: flex;
            align-items: center;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
            span {
                width: 100px;
                margin-right: 50px;
                display: block;
                text-align: right;
                font-size: 14px;
            }
            input {
                flex: 1;
                border: 1px solid #333;
                border-radius: 50px;
                height: 30px;
                line-height: 30px;
                padding: 0 20px;
                color: #333;
            }
        }
    }
}

.user-list {
    width: 100%;
    &__table {
        width: 100%;
        td, th {
            border: 1px solid #333;
            padding: 10px;
        }
        th, td, input {
            color: #000;
            font-size: 16px;
            background-color: transparent;
            cursor: pointer;
        }
        tbody {
            tr {
                cursor: pointer;
                &:nth-child(odd) {
                    background-color: rgba(102, 102, 102, 0.4);
                }
            }
        }
        input {
            &::placeholder {
                color: #000;
                font-size: 16px;
            }
        }
    }
}